# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# main.js is now included in the repo as per Obsidian plugin specifications
# Uncomment the next line if you want to exclude it again
# main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
